* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#header
{
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;

}

#app-name
{
  font-size: 10px;
  margin-left: 4vh;
  text-decoration: none;
  color: #111111;
}

#navbar
  {
    height: 6vh;
  }

  #navbar ul
  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: auto;
    width: fit-content;
    line-height: 6vh;
    padding: 0 2vw;
  }

  #navbar ul li a 
  {
    width: 5vw;
    padding: 0 2vw;
    font-size: 14px;
    font-weight: 700;
  }

  #navbar ul li a:hover
  {
    color: darkred;
  }

  #navbar ul li a
  {
    font-weight: 600;
    text-decoration: none;
    color: #111111;
  }


